## 과제
- per 불러오기
- 모든 주식 per 테이블 만들기
- per 분포표만들기

## I. 페키지 셋팅

In [1]:
!pip install yahoo_fin
!pip install requests_html

Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting feedparser
  Downloading feedparser-6.0.8-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 4.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (2.23.0)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->yahoo_fin) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (1.24.3)
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo_fin) (0.0.1)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 1.7 MB/s
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.3)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 50.8 MB/s
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 46.3 MB/s
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.8.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests-html->yahoo_fin) (4.6.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo_fin) (4.2.6)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Building wheels for collected packages: fake-useragent, parse, sgmllib3k
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=cf08c09713ba87ef7cc9e37d96e8a7d26b939ff391a4b190eabea754801e08a0
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24591 sha256=48fe0a253f1e783b1fb25c8c254573b7e75f429e71ad3c33259f2b0b0a12bdb7
  Stored in directory: /root/.cache/pip/wheels/9c/aa/cc/f2228050ccb40f22144b073f15a2c84f11204f29fc0dce028e
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=7c37c1e6d1b6de4c8f8c26e414e107ea5486773ce022f1ec6509fc01d320b6bf
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built fake-useragent parse sgmllib3k
Installing collected packages: websockets, urllib3, pyee, cssselect, w3lib, sgmllib3k, pyquery, pyppeteer, parse, fake-useragent, requests-html, feedparser, yahoo-fin
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cssselect-1.1.0 fake-useragent-0.1.11 feedparser-6.0.8 parse-1.19.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-1.4.3 requests-html-0.10.0 sgmllib3k-1.0.0 urllib3-1.25.11 w3lib-1.22.0 websockets-10.3 yahoo-fin-0.8.9.1
Requirement already satisfied: requests_html in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: pyquery in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.4.3)
Requirement already satisfied: parse in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.19.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.0.1)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.0.2)
Requirement already satisfied: w3lib in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.22.0)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.1.11)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from requests_html) (2.23.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: certifi>=2021 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (2021.10.8)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.64.0)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (8.2.2)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.25.11)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.11.3)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (10.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (4.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests_html) (4.6.3)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (1.1.0)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (4.2.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (3.0.4)
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from w3lib->requests_html) (1.15.0)

In [2]:
import yahoo_fin.stock_info as si
import pandas as pd

## II.기타 필요자료

### 매일 현재 상승 상위 100종목
### 하락 상위 100종목
### 거래량 100종목

In [3]:
si.get_day_gainers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,PHJMF,PT Hanjaya Mandala Sampoerna Tbk,0.0678,0.0108,18.95,151800.0,170406.0,7.886000e+09,NaN
1,DNA,"Ginkgo Bioworks Holdings, Inc.",3.8800,0.4800,14.12,23429000.0,17695000.0,6.827000e+09,NaN
2,EQRX,"EQRx, Inc.",4.9500,0.6000,13.79,948458.0,1398000.0,2.414000e+09,NaN
3,SIMO,Silicon Motion Technology Corporation,87.0200,9.9300,12.88,3355000.0,605554.0,3.039000e+09,15.21
4,PSB,"PS Business Parks, Inc.",187.5000,19.8300,11.83,1399000.0,113159.0,5.176000e+09,13.19
...,...,...,...,...,...,...,...,...,...
95,U,Unity Software Inc.,79.4200,3.7200,4.91,3513000.0,3945000.0,2.350600e+10,NaN
96,CXM,"Sprinklr, Inc.",13.6700,0.6400,4.91,319455.0,799737.0,3.510000e+09,NaN
97,NUVA,"NuVasive, Inc.",57.3100,2.6800,4.91,512142.0,562503.0,2.977000e+09,NaN
98,UBSFY,Ubisoft Entertainment SA,9.0400,0.4200,4.87,247016.0,216939.0,5.550000e+09,60.75
99,DUOL,"Duolingo, Inc.",90.1900,4.1900,4.87,226765.0,467955.0,3.484000e+09,NaN

In [4]:
si.get_day_losers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,HPK,"HighPeak Energy, Inc.",33.35,-4.34,-11.51,1735000.0,369211.0,3.462000e+09,61.99
1,PHG,Koninklijke Philips N.V.,26.91,-3.43,-11.31,4791000.0,1915000.0,2.341700e+10,6.83
2,GOGL,Golden Ocean Group Limited,11.66,-1.43,-10.92,10178000.0,4087000.0,2.409000e+09,4.27
3,ACH,Aluminum Corporation of China Limited,11.49,-1.39,-10.79,205358.0,145208.0,1.138300e+10,10.45
4,RYLPF,Koninklijke Philips N.V.,27.03,-3.07,-10.21,202835.0,37442.0,2.351900e+10,6.86
...,...,...,...,...,...,...,...,...,...
95,NTR,Nutrien Ltd.,99.58,-4.23,-4.07,7576000.0,4127000.0,5.502800e+10,18.04
96,EVO,Evotec SE,13.19,-0.56,-4.07,64594.0,74785.0,4.726000e+09,16.33
97,TRGP,Targa Resources Corp.,73.07,-3.10,-4.07,2074000.0,1659000.0,1.667900e+10,NaN
98,SOUHY,South32 Limited,16.54,-0.70,-4.06,44368.0,44650.0,1.587600e+10,19.93
99,WYNMY,"Wynn Macau, Limited",5.82,-0.24,-4.04,24448.0,24775.0,3.078000e+09,NaN

In [5]:
si.get_day_most_active()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,TWTR,"Twitter, Inc.",51.70,2.77,5.66,174665000.0,47258000.0,39477000000.0,NaN
1,AAPL,Apple Inc.,162.88,1.09,0.67,96046000.0,89631000.0,2.658T,27.08
2,AMD,"Advanced Micro Devices, Inc.",90.69,2.55,2.89,93134000.0,105706000.0,147585000000.0,35.29
3,T,AT&T Inc.,19.51,-0.01,-0.05,71231000.0,64755000.0,139672000000.0,7.06
4,BAC,Bank of America Corporation,37.29,-0.27,-0.72,62887000.0,53671000.0,300636000000.0,10.45
...,...,...,...,...,...,...,...,...,...
95,CVNA,Carvana Co.,81.21,-2.54,-3.03,12740000.0,4655000.0,14423000000.0,NaN
96,M,"Macy's, Inc.",25.01,0.74,3.05,11941000.0,13199000.0,7124000000.0,5.50
97,DAL,"Delta Air Lines, Inc.",43.27,-0.42,-0.96,13979000.0,16342000.0,27739000000.0,98.34
98,LUMN,"Lumen Technologies, Inc.",10.87,0.06,0.56,13300000.0,14785000.0,11226000000.0,5.69
99,CTRA,Coterra Energy Inc.,28.66,-0.30,-1.04,13329000.0,10729000.0,23243000000.0,12.52

## III.  PER recalling PE ratio

### 1) get_stats_valuation('ticker')
- current per

In [6]:
si.get_stats_valuation('MSFT')

,Unnamed: 0,As of Date: 4/24/2022Current,12/31/2021,9/30/2021,6/30/2021,3/31/2021
0,Market Cap (intraday),2.05T,2.52T,2.12T,2.04T,1.78T
1,Enterprise Value,1.99T,2.46T,2.05T,1.98T,1.71T
2,Trailing P/E,29.18,37.62,35.02,36.91,35.14
3,Forward P/E,25.25,36.90,31.55,32.57,29.24
4,PEG Ratio (5 yr expected),1.87,2.87,2.60,2.65,2.17
5,Price/Sales (ttm),11.23,14.48,12.76,12.91,11.76
6,Price/Book (mrq),12.84,16.60,14.91,15.14,13.64
7,Enterprise Value/Revenue,10.78,47.46,45.34,42.88,41.09
8,Enterprise Value/EBITDA,21.00,92.52,84.64,84.92,82.37

In [7]:
a = si.get_analysts_info('MSFT')
print(a)

{'Earnings Estimate':   Earnings Estimate  Current Qtr. (Mar 2022)  Next Qtr. (Jun 2022)  \
0   No. of Analysts                    29.00                 29.00
1     Avg. Estimate                     2.18                  2.35
2      Low Estimate                     2.14                  1.97
3     High Estimate                     2.29                  2.55
4      Year Ago EPS                     2.03                  2.17

   Current Year (2022)  Next Year (2023)
0                24.00             38.00
1                 9.33             10.74
2                 9.07              9.28
3                 9.59             11.50
4                 8.05              9.33  , 'Revenue Estimate':           Revenue Estimate Current Qtr. (Mar 2022) Next Qtr. (Jun 2022)  \
0          No. of Analysts                      30                   30
1            Avg. Estimate                  49.03B               52.86B
2             Low Estimate                  48.59B               50.27B
3            High Estimate                  49.72B               55.77B
4           Year Ago Sales                     NaN               46.15B
5  Sales Growth (year/est)                     NaN               14.50%

  Current Year (2022) Next Year (2023)
0                  41               41
1             199.02B          226.87B
2             197.11B           205.1B
3             201.47B          233.99B
4             168.09B          199.02B
5              18.40%           14.00%  , 'Earnings History':   Earnings History 3/30/2021 6/29/2021 9/29/2021 12/30/2021
0         EPS Est.      1.78      1.92      2.07       2.31
1       EPS Actual      2.03      2.17      2.27       2.48
2       Difference      0.25      0.25       0.2       0.17
3       Surprise %    14.00%    13.00%     9.70%      7.40%, 'EPS Trend':           EPS Trend  Current Qtr. (Mar 2022)  Next Qtr. (Jun 2022)  \
0  Current Estimate                     2.18                  2.35
1        7 Days Ago                     2.18                  2.35
2       30 Days Ago                     2.19                  2.36
3       60 Days Ago                     2.19                  2.36
4       90 Days Ago                     2.17                  2.38

   Current Year (2022)  Next Year (2023)
0                 9.33             10.74
1                 9.33             10.73
2                 9.34             10.75
3                 9.35             10.75
4                 9.22             10.55  , 'EPS Revisions':        EPS Revisions  Current Qtr. (Mar 2022)  Next Qtr. (Jun 2022)  \
0     Up Last 7 Days                      1.0                   1.0
1    Up Last 30 Days                      2.0                   3.0
2   Down Last 7 Days                      NaN                   NaN
3  Down Last 30 Days                      2.0                   NaN

   Current Year (2022)  Next Year (2023)
0                  1.0               1.0
1                  3.0               2.0
2                  NaN               NaN
3                  NaN               NaN  , 'Growth Estimates':            Growth Estimates    MSFT  Industry  Sector(s)  S&P 500
0              Current Qtr.   7.40%       NaN        NaN      NaN
1                 Next Qtr.   8.30%       NaN        NaN      NaN
2              Current Year  15.90%       NaN        NaN      NaN
3                 Next Year  15.10%       NaN        NaN      NaN
4  Next 5 Years (per annum)  16.04%       NaN        NaN      NaN
5  Past 5 Years (per annum)  18.17%       NaN        NaN      NaN}

### 2) get_next_earnings_date(ticker)
- It will returns the upcoming earnings date

In [12]:
si.get_next_earnings_date('MSFT')

datetime.datetime(2022, 4, 26, 20, 0)

### 3) get_earnings()
- the command will recalls the earnings of campany

In [19]:
si.get_earnings('MSFT')

{'quarterly_results':      date  actual  estimate
 0  1Q2021    2.03      1.78
 1  2Q2021    2.17      1.92
 2  3Q2021    2.27      2.07
 3  4Q2021    2.48      2.31,
 'quarterly_revenue_earnings':      date      revenue     earnings
 0  1Q2021  41706000000  15457000000
 1  2Q2021  46152000000  16458000000
 2  3Q2021  45317000000  20505000000
 3  4Q2021  51728000000  18765000000,
 'yearly_revenue_earnings':    date       revenue     earnings
 0  2018  110360000000  16571000000
 1  2019  125843000000  39240000000
 2  2020  143015000000  44281000000
 3  2021  168088000000  61271000000}

#IV.for문으로 여러 회사 확인하기

In [14]:
#Semiconductor SOXX ETF holdings (top 10)
soxx_etf_holdings = ['INTC','AVGO','TXN','NVDA','QCOM','AMAT','MU','LRCX','KLAC'] #'TSMC (ADR) fail to recall

In [15]:
soxx_etf_holdings

['INTC', 'AVGO', 'TXN', 'NVDA', 'QCOM', 'AMAT', 'MU', 'LRCX', 'KLAC']

### 1) To get the current PE ratio by 'for' statement

In [17]:
for i in soxx_etf_holdings:
 print( i ,si.get_stats_valuation(i))

INTC                   Unnamed: 0 As of Date: 4/24/2022Current 12/31/2021  \
0      Market Cap (intraday)                      190.29B    209.60B
1           Enterprise Value                      199.98B    215.27B
2               Trailing P/E                         9.58      10.00
3                Forward P/E                        13.50      14.22
4  PEG Ratio (5 yr expected)                         2.70       2.85
5          Price/Sales (ttm)                         2.41       2.69
6           Price/Book (mrq)                         1.99       2.33
7   Enterprise Value/Revenue                         2.53      10.49
8    Enterprise Value/EBITDA                         5.87      25.62

  9/30/2021 6/30/2021 3/31/2021
0   216.69B   227.76B   258.43B
1   227.24B   241.25B   270.94B
2     11.84     12.62     12.96
3     12.02     12.67     14.06
4      2.06      2.53      2.81
5      2.83      3.02      3.48
6      2.54      2.85      3.19
7     11.84     12.29     13.77
8     22.81     27.63     38.72
AVGO                   Unnamed: 0 As of Date: 4/24/2022Current 1/31/2022  \
0      Market Cap (intraday)                      239.64B   240.21B
1           Enterprise Value                      268.95B   267.80B
2               Trailing P/E                        33.46     39.06
3                Forward P/E                        16.69     17.79
4  PEG Ratio (5 yr expected)                         1.17      1.11
5          Price/Sales (ttm)                         8.84      9.16
6           Price/Book (mrq)                        10.43      9.62
7   Enterprise Value/Revenue                         9.44     34.75
8    Enterprise Value/EBITDA                        17.26     61.13

  10/31/2021 7/31/2021 4/30/2021 1/31/2021
0    218.84B   199.14B   186.27B   183.22B
1    248.22B   230.09B   218.67B   216.70B
2      39.38     45.11     52.74     71.17
3      17.39     16.26     16.95     17.27
4       1.21      1.14      1.25      1.13
5       8.58      8.09      7.82      7.94
6       9.02      8.32      7.77      7.70
7      33.51     33.95     33.08     32.56
8      60.48     63.14     63.27     62.14
TXN                   Unnamed: 0 As of Date: 4/24/2022Current 12/31/2021  \
0      Market Cap (intraday)                      159.94B    174.15B
1           Enterprise Value                      158.33B    172.10B
2               Trailing P/E                        20.98      24.19
3                Forward P/E                        18.87      22.47
4  PEG Ratio (5 yr expected)                         2.27       2.11
5          Price/Sales (ttm)                         8.84      10.02
6           Price/Book (mrq)                        12.00      14.33
7   Enterprise Value/Revenue                         8.63      35.62
8    Enterprise Value/EBITDA                        15.74      63.16

  9/30/2021 6/30/2021 3/31/2021
0   177.49B   177.51B   174.48B
1   176.35B   177.07B   174.96B
2     26.81     29.14     31.66
3     23.31     26.95     28.82
4      2.13      2.49      2.87
5     10.70     11.61     12.19
6     15.91     17.46     18.99
7     37.98     38.66     40.79
8     68.54     69.91     78.60
NVDA                   Unnamed: 0 As of Date: 4/24/2022Current 1/31/2022  \
0      Market Cap (intraday)                      568.42B   613.62B
1           Enterprise Value                      558.90B   606.15B
2               Trailing P/E                        50.69     75.46
3                Forward P/E                        34.97     47.62
4  PEG Ratio (5 yr expected)                         2.57      2.61
5          Price/Sales (ttm)                        18.38     25.55
6           Price/Book (mrq)                        18.36     25.78
7   Enterprise Value/Revenue                        20.77     79.31
8    Enterprise Value/EBITDA                        49.24    187.37

  10/31/2021 7/31/2021 4/30/2021 1/31/2021
0    639.17B   485.92B   373.67B   321.63B
1    632.31B   480.99B   369.82B   319.17B
2      91.47     92.19     87.01     84.90
3      54.95     50.00     43.48     46.08
4       3.84      3.50      3.73      2.88
5      29.52     25.54     22.61     21.97
6      30.25     25.88     22.12     21.01
7      89.02     73.92     65.33     63.80
8     210.91    175.54    155.52    176.24
QCOM                   Unnamed: 0 As of Date: 4/24/2022Current 12/31/2021  \
0      Market Cap (intraday)                      149.68B    205.73B
1           Enterprise Value                      154.12B    209.06B
2               Trailing P/E                        15.21      23.24
3                Forward P/E                        11.42      17.30
4  PEG Ratio (5 yr expected)                         0.72       1.07
5          Price/Sales (ttm)                         4.22       6.26
6           Price/Book (mrq)                        13.21      20.68
7   Enterprise Value/Revenue                         4.28      19.53
8    Enterprise Value/EBITDA                        11.24      47.41

  9/30/2021 6/30/2021 3/31/2021
0   145.10B   161.23B   149.69B
1   147.94B   165.43B   153.13B
2     16.12     20.51     22.70
3     14.12     16.45     18.05
4      0.64      0.66      0.76
5      4.55      5.58      5.70
6     17.75     21.72     20.28
7     15.85     20.53     19.30
8     38.44     59.06     57.63
AMAT                   Unnamed: 0 As of Date: 4/24/2022Current 1/31/2022  \
0      Market Cap (intraday)                       99.65B   122.07B
1           Enterprise Value                       99.67B   122.36B
2               Trailing P/E                        15.71     21.59
3                Forward P/E                        13.91     16.92
4  PEG Ratio (5 yr expected)                         1.70      1.95
5          Price/Sales (ttm)                         4.26      5.51
6           Price/Book (mrq)                         8.38      9.97
7   Enterprise Value/Revenue                         4.12     19.51
8    Enterprise Value/EBITDA                        12.32     58.71

  10/31/2021 7/31/2021 4/30/2021 1/31/2021
0    123.39B   127.89B   121.78B    88.72B
1    122.59B   126.83B   120.86B    88.69B
2      23.77     29.15     31.75     24.66
3      17.42     18.83     22.22     19.65
4       1.08      1.22      1.77      2.20
5       5.83      6.52      6.73      5.19
6      10.11     10.66     10.61      8.39
7      20.02     20.47     21.65     17.18
8      56.55     59.41     70.97     63.58
MU                   Unnamed: 0 As of Date: 4/24/2022Current 2/28/2022  \
0      Market Cap (intraday)                       77.51B    99.50B
1           Enterprise Value                       75.00B    97.47B
2               Trailing P/E                         8.73     13.73
3                Forward P/E                         7.45      9.66
4  PEG Ratio (5 yr expected)                         0.88      1.04
5          Price/Sales (ttm)                         2.53      3.42
6           Price/Book (mrq)                         1.62      2.17
7   Enterprise Value/Revenue                         2.41     12.52
8    Enterprise Value/EBITDA                         4.53     22.64

  11/30/2021 8/31/2021 5/31/2021 2/28/2021
0     94.09B    82.97B    94.36B   102.39B
1     92.74B    81.85B    94.32B   102.52B
2      16.34     20.36     29.94     34.54
3       9.13      6.88      8.26     21.83
4       1.02      0.27      0.38      1.02
5       3.46      3.29      4.06      4.70
6       2.14      1.96      2.32      2.57
7      12.06      9.89     12.71     16.44
8      21.89     17.78     27.67     46.05
LRCX                   Unnamed: 0 As of Date: 4/24/2022Current 3/31/2022  \
0      Market Cap (intraday)                       64.24B    74.57B
1           Enterprise Value                       64.89B    74.24B
2               Trailing P/E                        14.48     16.77
3                Forward P/E                        12.00     13.83
4  PEG Ratio (5 yr expected)                         0.93      1.01
5          Price/Sales (ttm)                         3.93      4.65
6           Price/Book (mrq)                        10.66     11.52
7   Enterprise Value/Revenue                         3.88     18.28
8    Enterprise Value/EBITDA                        11.61     58.16

  12/31/2021 9/30/2021 6/30/2021 3/31/2021
0    100.88B    80.14B    92.73B    84.89B
1    101.26B    79.41B    92.75B    84.67B
2      24.31     21.16     27.51     29.57
3      20.45     16.72     20.33     21.28
4       1.51      1.42      0.95      1.24
5       6.58      5.65      7.17      7.34
6      17.33     13.30     17.25     15.41
7      23.96     18.45     22.38     22.01
8      68.21     54.08     64.46     65.55
KLAC                   Unnamed: 0 As of Date: 4/24/2022Current 12/31/2021  \
0      Market Cap (intraday)                       48.87B     64.88B
1           Enterprise Value                       49.60B     65.80B
2               Trailing P/E                        16.69      24.38
3                Forward P/E                        13.89      20.58
4  PEG Ratio (5 yr expected)                         1.30       1.85
5          Price/Sales (ttm)                         6.11       8.91
6           Price/Book (mrq)                        12.07      16.80
7   Enterprise Value/Revenue                         6.07      27.97
8    Enterprise Value/EBITDA                        14.02      62.65

  9/30/2021 6/30/2021 3/31/2021
0    50.76B    49.53B    50.67B
1    51.81B    50.63B    51.94B
2     25.02     27.24     37.72
3     17.99     19.49     22.37
4      1.83      1.56      2.10
5      7.52      7.83      8.51
6     15.03     15.90     17.26
7     24.86     26.30     28.80
8     58.25     60.75     68.00

### 2) To get the date of coming earnings by 'for' statement
- get_next_earnings_date()

In [16]:
for i in soxx_etf_holdings:
 print( i ,si.get_next_earnings_date(i))

INTC 2022-04-28 20:00:00
AVGO 2022-06-01 10:59:00
TXN 2022-04-26 20:00:00
NVDA 2022-05-25 23:00:00
QCOM 2022-04-27 20:00:00
AMAT 2022-05-19 20:00:00
MU 2022-06-28 10:59:00
LRCX 2022-04-20 16:05:01
KLAC 2022-04-28 20:00:00

### 3)To get the date of earnings by 'for' satement
- get_earnings()

In [18]:
for i in soxx_etf_holdings:
  print( i, si.get_earnings(i))

INTC {'quarterly_results':      date  actual  estimate
0  1Q2021    1.39      1.15
1  2Q2021    1.28      1.06
2  3Q2021    1.71      1.11
3  4Q2021    1.09      0.91, 'yearly_revenue_earnings':    date      revenue     earnings
0  2018  70848000000  21053000000
1  2019  71965000000  21048000000
2  2020  77867000000  20899000000
3  2021  79024000000  19868000000, 'quarterly_revenue_earnings':      date      revenue    earnings
0  1Q2021  19673000000  3361000000
1  2Q2021  19631000000  5061000000
2  3Q2021  19192000000  6823000000
3  4Q2021  20528000000  4623000000}
AVGO {'quarterly_results':      date  actual  estimate
0  2Q2021    6.62      6.42
1  3Q2021    6.96      6.88
2  4Q2021    7.81      7.74
3  1Q2022    8.39      8.08, 'yearly_revenue_earnings':    date      revenue     earnings
0  2018  20848000000  12259000000
1  2019  22597000000   2724000000
2  2020  23888000000   2960000000
3  2021  27450000000   6736000000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  2Q2021  6610000000  1493000000
1  3Q2021  6778000000  1876000000
2  4Q2021  7407000000  1989000000
3  1Q2022  7706000000  2472000000}
TXN {'quarterly_results':      date  actual  estimate
0  1Q2021    1.87      1.58
1  2Q2021    2.05      1.83
2  3Q2021    2.07      2.05
3  4Q2021    2.27      1.94, 'yearly_revenue_earnings':    date      revenue    earnings
0  2018  15784000000  5580000000
1  2019  14383000000  5017000000
2  2020  14461000000  5595000000
3  2021  18344000000  7769000000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  1Q2021  4289000000  1753000000
1  2Q2021  4580000000  1931000000
2  3Q2021  4643000000  1947000000
3  4Q2021  4832000000  2138000000}
NVDA {'quarterly_results':      date  actual  estimate
0  2Q2021    0.91      0.82
1  3Q2021    1.04      1.01
2  4Q2021    1.17      1.11
3  1Q2022    1.32      1.22, 'yearly_revenue_earnings':    date      revenue    earnings
0  2019  11716000000  4141000000
1  2020  10918000000  2796000000
2  2021  16675000000  4332000000
3  2022  26914000000  9752000000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  2Q2021  5661000000  1912000000
1  3Q2021  6507000000  2374000000
2  4Q2021  7103000000  2464000000
3  1Q2022  7643000000  3003000000}
QCOM {'quarterly_results':      date  actual  estimate
0  1Q2021    1.90      1.67
1  2Q2021    1.92      1.68
2  3Q2021    2.55      2.26
3  4Q2021    3.23      3.01, 'yearly_revenue_earnings':    date      revenue    earnings
0  2018  22611000000 -4964000000
1  2019  24273000000  4386000000
2  2020  23531000000  5198000000
3  2021  33566000000  9043000000, 'quarterly_revenue_earnings':      date      revenue    earnings
0  1Q2021   7935000000  1762000000
1  2Q2021   8060000000  2027000000
2  3Q2021   9336000000  2798000000
3  4Q2021  10705000000  3399000000}
AMAT {'quarterly_results':      date  actual  estimate
0  2Q2021    1.63      1.51
1  3Q2021    1.90      1.77
2  4Q2021    1.94      1.95
3  1Q2022    1.89      1.85, 'yearly_revenue_earnings':    date      revenue    earnings
0  2018  16705000000  3038000000
1  2019  14608000000  2706000000
2  2020  17202000000  3619000000
3  2021  23063000000  5888000000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  2Q2021  5582000000  1330000000
1  3Q2021  6196000000  1716000000
2  4Q2021  6123000000  1712000000
3  1Q2022  6271000000  1792000000}
MU {'quarterly_results':      date  actual  estimate
0  2Q2021    1.88      1.72
1  3Q2021    2.42      2.33
2  4Q2021    2.16      2.11
3  1Q2022    2.14      1.97, 'yearly_revenue_earnings':    date      revenue     earnings
0  2018  30391000000  14135000000
1  2019  23406000000   6313000000
2  2020  21435000000   2687000000
3  2021  27705000000   5861000000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  2Q2021  7422000000  1735000000
1  3Q2021  8274000000  2720000000
2  4Q2021  7687000000  2306000000
3  1Q2022  7786000000  2263000000}
LRCX {'quarterly_results':      date  actual  estimate
0  2Q2021    8.09      7.55
1  3Q2021    8.36      8.21
2  4Q2021    8.53      8.51
3  1Q2022    7.40      7.51, 'yearly_revenue_earnings':    date      revenue    earnings
0  2018  11076998000  2380681000
1  2019   9653559000  2191430000
2  2020  10044736000  2251753000
3  2021  14626150000  3908458000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  1Q2021  3847654000  1071121000
1  2Q2021  4145179000  1144657000
2  3Q2021  4304465000  1179744000
3  4Q2021  4226604000  1194830000}
KLAC {'quarterly_results':      date  actual  estimate
0  1Q2021    3.85      3.62
1  2Q2021    4.43      3.99
2  3Q2021    4.64      4.52
3  4Q2021    5.59      5.45, 'yearly_revenue_earnings':    date     revenue    earnings
0  2018  4036701000   802265000
1  2019  4568904000  1175617000
2  2020  5806424000  1216785000
3  2021  6918734000  2078292000, 'quarterly_revenue_earnings':      date     revenue    earnings
0  1Q2021  1803773000   567496000
1  2Q2021  1925471000   632978000
2  3Q2021  2083838000  1068417000
3  4Q2021  2352630000   717444000}