In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools

plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['font.family'] = 'Malgun Gothic'

In [55]:
df = pd.read_csv('c://My_data//17년 세계전기차주제 검색 상대적 추의.csv')

In [56]:
df1=df.iloc[1:]

In [57]:
df1.head(10)

        카테고리: 모든 카테고리
2004-01            30
2004-02            38
2004-03            32
2004-04            34
2004-05            35
2004-06            35
2004-07            29
2004-08            30
2004-09            28
2004-10            33

In [61]:
df1.reset_index()

       index 카테고리: 모든 카테고리
0    2004-01            30
1    2004-02            38
2    2004-03            32
3    2004-04            34
4    2004-05            35
..       ...           ...
208  2021-05            77
209  2021-06            83
210  2021-07            95
211  2021-08           100
212  2021-09            89

[213 rows x 2 columns]

In [65]:
search_ls=list(((np.array(df1['카테고리: 모든 카테고리'].tolist()))))

['30',
 '38',
 '32',
 '34',
 '35',
 '35',
 '29',
 '30',
 '28',
 '33',
 '33',
 '30',
 '27',
 '32',
 '32',
 '39',
 '36',
 '31',
 '32',
 '36',
 '43',
 '31',
 '31',
 '27',
 '28',
 '29',
 '27',
 '36',
 '34',
 '28',
 '38',
 '38',
 '38',
 '34',
 '29',
 '31',
 '32',
 '32',
 '35',
 '32',
 '40',
 '36',
 '36',
 '35',
 '37',
 '34',
 '36',
 '36',
 '35',
 '37',
 '37',
 '43',
 '51',
 '58',
 '49',
 '41',
 '38',
 '37',
 '34',
 '33',
 '36',
 '34',
 '37',
 '34',
 '32',
 '32',
 '33',
 '36',
 '34',
 '35',
 '34',
 '32',
 '31',
 '36',
 '32',
 '34',
 '32',
 '30',
 '30',
 '29',
 '29',
 '33',
 '32',
 '29',
 '34',
 '33',
 '36',
 '35',
 '32',
 '30',
 '28',
 '28',
 '29',
 '29',
 '32',
 '28',
 '33',
 '33',
 '33',
 '31',
 '32',
 '30',
 '27',
 '27',
 '31',
 '30',
 '29',
 '27',
 '30',
 '30',
 '28',
 '30',
 '29',
 '31',
 '29',
 '26',
 '29',
 '28',
 '31',
 '26',
 '28',
 '29',
 '28',
 '31',
 '29',
 '28',
 '30',
 '28',
 '33',
 '31',
 '28',
 '27',
 '28',
 '29',
 '29',
 '30',
 '29',
 '28',
 '26',
 '27',
 '29',
 '31',
 '30',
 '28',
 '30',
 '31',
 '31',
 '35',
 '31',
 '32',
 '28',
 '30',
 '31',
 '33',
 '35',
 '23',
 '22',
 '24',
 '25',
 '24',
 '23',
 '23',
 '28',
 '28',
 '31',
 '30',
 '31',
 '29',
 '28',
 '32',
 '34',
 '33',
 '33',
 '32',
 '34',
 '32',
 '37',
 '38',
 '37',
 '37',
 '40',
 '50',
 '53',
 '42',
 '45',
 '44',
 '53',
 '46',
 '49',
 '52',
 '54',
 '57',
 '62',
 '64',
 '36',
 '29',
 '35',
 '44',
 '53',
 '53',
 '53',
 '53',
 '57',
 '58',
 '73',
 '92',
 '84',
 '81',
 '77',
 '83',
 '95',
 '100',
 '89']